# Backend git ignore

# compiled output
/video-recorder-api/dist
/video-recorder-api/node_modules

# Logs
/video-recorder-api/logs
/video-recorder-api/*.log
/video-recorder-api/npm-debug.log*
/video-recorder-api/yarn-debug.log*
/video-recorder-api/yarn-error.log*
/video-recorder-api/lerna-debug.log*

# OS
/video-recorder-api.DS_Store

# Tests
/video-recorder-api/coverage
/video-recorder-api/.nyc_output

# IDEs and editors
/video-recorder-api/.idea
/video-recorder-api/.project
/video-recorder-api/.classpath
/video-recorder-api/.c9/
/video-recorder-api/*.launch
/video-recorder-api/.settings/
/video-recorder-api/*.sublime-workspace

# IDE - VSCode
/video-recorder-api/.vscode/*
/video-recorder-api/!.vscode/settings.json
/video-recorder-api/!.vscode/tasks.json
/video-recorder-api/!.vscode/launch.json
/video-recorder-api/!.vscode/extensions.json


# Front end git ignore 
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

/video-recorder-app/*~
/video-recorder-app/*.sw[mnpcod]
/video-recorder-app/.tmp
/video-recorder-app/*.tmp
/video-recorder-app/*.tmp.*
/video-recorder-app/*.sublime-project
/video-recorder-app/*.sublime-workspace
/video-recorder-app/.DS_Store
/video-recorder-app/Thumbs.db
/video-recorder-app/UserInterfaceState.xcuserstate
/video-recorder-app/$RECYCLE.BIN/

/video-recorder-app/*.log
/video-recorder-app/log.txt
/video-recorder-app/npm-debug.log*

/video-recorder-app/.idea
/video-recorder-app/.ionic
/video-recorder-app/.sass-cache
/video-recorder-app/.sourcemaps
/video-recorder-app/.versions
/video-recorder-app/.vscode
/video-recorder-app/coverage
/video-recorder-app/dist
/video-recorder-app/node_modules
/video-recorder-app/platforms
/video-recorder-app/plugins
/video-recorder-app/www
